<h2 id="user_stats_header">Your Statistics</h2>
<group id="user_stats_info"><!-- Begin basic user status -->
    <h1>User Information</h1>
    <ul class="user_stats_info_list">
        <li>Name: {{ info_list.name|escape }}</li>
        <li>Date Created: {{ info_list.date|escape }}</li>
        <li>Server: {{ info_list.server|escape }}</li>
    </ul>
</group><!-- End basic user stats -->
<group id="user_stats_permissions"><!-- Begin permissions -->
    <h1>Permissions</h1>
    <h3>PHP My Admin User</h3>
    <ul class="user_stats_permissions_list">
        {% for value in permissions.pma %}
            <li>{{ value|escape }}</li>
        {% endfor %}
    </ul>
    <h3>MySql User</h3>
    <ul class="user_stats_permissions_list">
        {% for value in permissions.mysql %}
            <li>{{ value|escape }}</li>
        {% endfor %}
    </ul>
</group><!-- End permissions -->
<group id="user_stats_usage"><!-- Begin usage stats -->
    <h1>Usage Statistics</h1>
    <ul class="user_stats_usage_list">
        {% for usage in usage_list %}
            <li>{{ usage.type|escape }}: {{ usage.value|escape }}</li>
        {% endfor %}
    </ul>
</group><!-- End usage stats -->
<group id="user_stats_export">
    <h1>Export</h1>
    <a href="server_user_stats.php?export=1">Export as pdf</a>
</group>